* {
	text-align: center;
}
.game {
	color: #FFC3F4;
	background-color: black;
}

h2 {
	font-family: "Arial";
	font-size: 32px;
	background-color: black;
	margin-bottom: -1px;
	margin-top: 40px;
}
h1 {
	color: #FFC3F4;
	font-family: "Arial";
	background-color: black;
	font-size: 70px;
}

.bio {
	font-family: "Arial";
	font-size: 26px;
}

body {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT37uMqpJV0gFMmj1-cJyxpZkHeySOKJg_Ac4PmIzNUTlE63Snm);
}